@{
    @* conversão usada se for usado o viewData *@
    var endereco = ViewData["Endereco"] as Endereco;

}

@* <h1>@ViewData["Saudacao"]</h1> *@
@* usando o viewbag *@

<h1>@ViewBag.Saudacao</h1>
<h2>@ViewData["DataInicio"]</h2>
<hr>
    @* viewbag acessa o objeto diretamente *@
    @ViewBag.Endereco.Nome<br>
    @ViewBag.Endereco.Rua<br>
    @ViewBag.Endereco.Cidade, @ViewBag.Endereco.Estado
